.container-signup {
  margin: 10px auto;
  width: 100%;
  min-width: 960px;
  position: relative;
  .container-box {
    margin: auto;
    width: 960px;
    position: relative;
    .one-column {
      width: 100%;
      min-width: 960px;
      margin: auto;
      position: relative;
      .login-container {
        width: 840px;
        margin: 0 50px;
        border: 1px solid #e8e8e8;
        background-color: white;
        display: flex;
        .left {
          margin: 20px 0 20px 20px;
          padding: 10px 10px;
          border-right: 1px solid #e8e8e8;
          border-right-width: 1px;
          border-right-style: solid;
          border-right-color: rgb(232, 232, 232);
          height: 420px;
          width: 319px;
          .login-form {
            background-color: #f2f2f2;
            border-radius: 6px 6px 0px 0px;
            border: 1px solid #cbcbcb;
            padding: 10px 12px 10px 12px;
            .title {
              color: #333333;
              font-weight: bold;
              margin-bottom: 0px;
              font-size: 18px;
              line-height: 27px;
            }
          }
          .login-form-body {
            background-color: #f8f8f8;
            border-radius: 0px 0px 6px 6px;
            border: 1px solid #cbcbcb;
            border-top: 0px;
            margin-bottom: 8px;
            padding: 12px 12px 12px 12px;
            #user_email {
              font-size: 16px;
              height: 22px;
              width: 280px;
              margin-top: 8px;
            }
            #user_password {
              font-size: 16px;
              height: 22px;
              width: 170px;
              margin-top: 8px;
              margin-bottom: 16px;
            }
            .btn {
              font-size: 15px;
              font-family: "Helvetica", "メイリオ", "Meiryo", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
              font-weight: bold;
              border-radius: 4px;
              padding: 5px 17px 22px;
              text-decoration: none;
              background-color: #e84f97;
              color: #ffffff !important;
              display: inline-block;
              text-shadow: 0px -1px 0px #c70067;
              margin-top: 1px;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}