.profile-content {
  width: 700px;
  margin-right: 20px;
  margin: 20px auto 20px;
  .profile-user {
    padding: 20px;
    background: white;
    .user-flexbox {
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 20px;
        .sub-text {
          font-size: 15px;
          color: black;
          line-height: 1.6;
        }
      }
      .q-num {
        font-size: 15px;
        .num {
          font-weight: bold;
        }
      }
    }
    .row {
      padding: 15px 0;
      border-bottom: 1px solid #ebebeb;
      .user-profile {
        width: 100px;
        margin-right: 40px;
        font-weight: bold;
        font-size: 15px;
      }
      span {
        font-size: 15px;
      }
    }
    a {
      button {
        width: 100%;
        background: white;
        padding: 15px 0;
        font-weight: bold;
        color: #2e2941;
        border: rgba(0,0,0,0.4) 1px solid;
        pointer-events: auto;
        opacity: 1;
        margin-bottom: 20px;
      }
    }
  }
}